.inputbox {
  border: 1px solid #BFBFBF;
  padding: 4px 0;
  line-height: 27px; }
  .inputbox .explain {
    width: 89px; }
    .inputbox .explain span {
      border-right: 1px solid #BFBFBF;
      display: block;
      height: 27px;
      text-align: right; }
  .inputbox .proc select, .inputbox .proc input {
    border: 0 none;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%; }
