.user {
  background: #FFF;
  color: #000;
  padding: 0 15px 0 14px; }

.user .manage {
  background: -webkit-linear-gradient(top, #B20709, #A20709);
  border: 1px solid #C60808;
  border-radius: 4px;
  color: #FFF;
  display: block;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  width: 90px; }
.user .dire {
  right: 0;
  bottom: 14px; }
.user .icode {
  right: 0;
  top: 0;
  cursor: pointer;
  width: 80px;
  height: 100%;
  z-index: 9; }
.user .pcode {
  border: 1px solid #FFBB2F;
  background-color: #FFFFE0;
  color: #FF6600;
  cursor: pointer;
  text-align: center;
  right: -1px;
  top: -1px;
  width: 100px;
  height: 38px;
  line-height: 38px;
  z-index: 9;}
.user .part {
  display: block; }
.btn {
  background: -webkit-linear-gradient(top, #B20709, #A20709);
  border: 1px solid #C60808;
  border-radius: 4px;
  color: #FFF;
  display: block;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  width: 100%; }

.tipicon {
  background-color: #639E2B;
  border-radius: 100%;
  color: #FFF;
  display: none;
  font-size: 12px;
  width: 16px;
  height: 16px;
  line-height: 8px;
  text-align: center;
  /*display: none;*/
  right: 0;
  top: 7px;
  text-align: center; }


.tipicon span {
  border-color: #FFF;
  border-width: 1px 1px 0 0;
  width: 8px;
  height: 3px;
}

.error {
  border: 1px solid #FF9999; }

.error .tipicon {
  display: block;
  background-color: #FF9999;
  line-height: 14px; }

.success .tipicon {
  display: block;
  background-color: #639E2B;
  line-height: 8px; }

.success .t-s {
  display: block;
}

.success .t-e {
  display: none;
}

.error .t-s {
  display: none;
}

.error .t-e {
  display: block;
}

.tip-box {
  background: #FFFFE0;
  border: 1px solid #FFD989;
  color: #FF791B;
  text-align: center;
  width: 55px;
  height: 28px;
  line-height: 28px;
  right: 6px;
  top: 0; }

.tip-box .crypto-pwd {
  z-index: 9;}

.validate {
  padding: 20px;
  text-align: center;
}

.validate .valid {
  text-align: center;
}

.validate .dire {
  background: #639E2B;
}

.validate .o-success {
  border-radius: 100%;
  background-color: #639E2B;
  color: #FFF;
  font-size: 20px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  left: 0;
  top: 4px;
}

.validate .o-success,
.validate .o-info {
  display: inline-block;
}

.o-success .dire {
  border-color: #FFF;
  font-size: 16px;
  border-width: 1px 1px 0 0;
  width: 10px;
  height: 5px;
  position: relative;
  top: -6px;
  left: 0;
}
